/* Général */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: auto;
    display: grid;
    grid-template: 
    "part1" 1fr
    "part2" 1fr;
}




/* Partie 1 */

.part1{
    grid-area: part1;
    /* border: blue solid; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part1 > h1{
    font-family: "Overpass";
    font-size: 4.6875rem;
    font-weight: bold;
    color: white;
}

.searchArchive{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #F39000 solid; */
}

#search{
    width: 315px;
    height: 40px;
    border: 2px #FFFFFF solid;
    border-radius: 24px;
    background-color: transparent;
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;

    color: #FFFFFF;
    font-family: "Overpass";
    font-size: 1rem;
    padding-left: 35px;
}

.top{
    align-self: flex-start;
    margin-top: 2%;
}

#search:focus{
    outline: none;
    border-color: #FF0000;
    transition: all .5s ease-in-out;
}

#search::placeholder{
    font-family: "Overpass";
    font-size: 1.25rem;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .8;
}

.filterDate{
    margin-left: 10px;
    /* border: #F23000 solid; */
}

.firstClick{
    display: flex;
    flex-direction: column;
    /* border: #a35000 solid; */
}

.color{
    background-color: #242424;
    border-radius: 15px 15px 0px 0px;
}

.firstClick:hover{
    background-color: #242424;
    border-radius: 18px;
    transition: background-color .3s ease-in-out;
}

.BTNdate{
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 8px;
    cursor: pointer;
    /* border: #56a891 solid; */
}

.BTNdate > p{
    font-family: "Overpass";
    font-size: 1.7rem;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding-left: 7px;
    padding-top: 4px;
}

.miniModal{
    background-color: #242424;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    /* border: steelblue solid; */
    display: none;
    transition: all .6s ease-in-out;
}

.show{
    display: flex;
}

label{
    font: 1.4rem "Overpass";
    font-weight: 400;
    color: #FFFFFF;
}

input[type='radio']{
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: none;
    border: 3px solid white;
    width: 13px;
    height: 13px;
}

input[type='radio']:checked{
    background-color: #F39000;
}




/* Partie 2 */

.part2{
    grid-area: part2;
    /* border: springgreen solid; */
}

.containerLT{
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width:50vw;
    min-width: 85vmin;
}

.containerLT > a{
    display: inline-block;
    font-family: "Overpass";
    font-size: 0.8125rem;
    text-decoration: underline;
    color: #B6B6B6;

    
}

.containerLT > a:hover{
    color: #F39000;
    transition: all .3s ease-in-out;
}

.exTrend1{
    width: 90%;
    height: 25%;
    background-color: #242424;
    border-radius: 24px;
    box-shadow: 2px 2px 2px rgba(240, 0, 0, 
0.25);
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
}

.imgTrend{
    width: 34%;
    height: 80%;
    border-radius: 15px;
    overflow-y: hidden;
}

.imgTrend >img{
    width: 100%;
    object-fit: cover;
}

.textsTrend{
    width: 60%;
    height: 95%;
    font-family: "Overpass";
}

#hashtag{
    font-size: 4.375rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #F00000;
}

.textsTrend > h1{
    margin: 0;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    line-height: 35px;
}

.description{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: "Montserrat";
    color: white;
    padding-left: 22px;
    padding-top: -15px;
    word-wrap: break-word;
}

.date{
    color: #B6B6B6;
    font-family: "Overpass";
    font-weight: 300;
    font-size: .75rem;
    padding-top: 8px;
    padding-left: 10px;
}


/* Archives */

.word{
    color: white;
    text-shadow: 2px 2px 2px rgba(243, 146, 
0, 0.5);
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    font-family: "Overpass";
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -30px;


}

.word:hover{
    font-style: italic;
    transition: all 3s ease-in-out;
    text-shadow: 2px 2px 2px rgba(240, 0, 0, 
0.25);
}