
.hashtag{
    font-family: 'Overpass',sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #F00000;
}
a{
    color: white !important;
    font-family: 'Overpass',sans-serif;
    color: white;
    font-size: 1.5rem;
    /* border-color: white; */
}
body{
    height:100vh;
}