/* Général */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #000;
    overflow-x: hidden;
}

main{
    display: grid;
    grid-template: 
    "titleTrends archives" 10vh
    "trends archives" 1fr/ 1fr 0.75fr;
  
    height: 100vh;
    margin-top: 8vh;
}




/* Parts of grid */

.lasTrends{
    grid-area: trends;
    display: flex;
    align-items: space-around;
     justify-self: end; 
     align-self: baseline; 
}

.archivesHome{
    grid-area: archives;
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* Last Trends */

.titleTrends{
    font-family: "Overpass";
    color: white;
    font-style: italic;
    font-weight: 700;
    font-size: 1.7rem;
    grid-area: titleTrends;
    align-self: flex-end;
    justify-self: end;
   
    position: relative;
}

/* Touche pas à ces deux positionnements, c'est pour le trait
en dessous du "Last trends", c'est un ::after donc ça pose pas
problème. */

.titleTrends::after{
    content: "";
    width: 73%;
    background-color: white;
    height: 2.2px;

    position: absolute;
    right: -15%;
    bottom: 35%;
}

.containerLT{
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width:50vw;
    min-width: 85vmin;
    /* border: springgreen solid; */
}

.linkContainerTrend{
    /* border: red solid; */
    display: block;
    height: auto;
    width: 90%;
    height: 25%;
}

.invisible{
    display: inline-block;
    font-family: "Overpass";
    font-size: 0.8125rem;
    text-decoration: underline;
    color: #B6B6B6;
}

.invisible{
    color: #F39000;
    transition: all .3s ease-in-out;
}

.contentTrend{
    width: 100%;
    height: 100%;
    background-color: #242424;
    border-radius: 24px;
    box-shadow: 2px 2px 2px rgba(240, 0, 0, 0.25);
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
    /* border: steelblue solid; */
}

.imgTrend{
    width: 34%;
    height: 80%;
    border-radius: 15px;
    overflow-y: hidden;
}

.imgTrend >img{
    width: 100%;
    object-fit: cover;
}

.textsTrend{
    width: 60%;
    height: 95%;
    font-family: "Overpass";
    /* border: tan solid; */
}

#hashtag{
    font-size: 4.375rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #F00000;
}

.textsTrend > h1{
    margin: 0;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    line-height: 35px;
}

.description{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: "Montserrat";
    color: white;
    padding-left: 22px;
    padding-top: -15px;
    word-wrap: break-word;
    /* border: gold solid; */
}

.date{
    color: #B6B6B6;
    font-family: "Overpass";
    font-weight: 300;
    font-size: .75rem;
    padding-top: 8px;
    padding-left: 10px;
    /* border: rgb(48, 171, 187) solid; */
}


/* Archives */

.word{
    color: white;
    text-shadow: 2px 2px 2px rgba(243, 146, 0, 0.5);
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    font-family: "Overpass";
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -30px;


}

.word:hover{
    font-style: italic;
    transition: all 3s ease-in-out;
    text-shadow: 2px 2px 2px rgba(240, 0, 0, 0.25);
}




/* décor lol */

#T{
    color: #F39200;
}

#d{
    color: #FF0000;
}



/* Media Queries */

@media screen and (max-width: 900px) {
    
    main{
        display: grid;
        grid-template: 
        "titleTrends" 1fr
        "trends" 1fr
        "archives" 1fr 
        ;
        gap:1vh;
        height: 100vh;
    }
    .titleTrends{
        justify-self: center;
        align-self: baseline;
    }
    .lasTrends{
        justify-self: center;
    }
  
    .containerLT{
        height: 100vh;
    }
    

    .titleTrends{
        font-size: 2rem;
    }
    
    /* .titleTrends::after{
        width: 114px;
        height: 2.5px;
        bottom: 34%;
        right: -12%;
    } */
    .textsTrend > h1{
        font-size:1.5rem;
        line-height: 1.5rem;
    }
    .description{
        display: none;
    }
}
@media screen and (max-width: 1635px) {

    .textsTrend > h1{
        font-size:1rem;
        line-height: 1rem;
    }
    .description{
        font-size: 0.8rem;
    }
}