/* Général */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #000 ; 
    overflow-x: hidden;
}

main{
    display: grid;
    grid-template: 
    "titleTrends hello" 10vh
    "trends hello" 1fr/ 1fr .8fr;
    height: auto;
}




/* Parts of grid */

.lasTrends{
    grid-area: trends;
    display: flex;
    align-items: space-around;
    justify-self: end; 
}

.containerHello{
    grid-area: hello;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: gold solid; */
}



/* Last Trends */

.titleTrends{
    grid-area: titleTrends;
    font-family: "Overpass";
    color: white;
    font-style: italic;
    font-weight: 700;
    font-size: 1.7rem;
    align-self: flex-end;
    justify-self: end;
    position: relative;
    /* border: green solid; */
}

/* Touche pas à ces deux positionnements, c'est pour le trait
en dessous du "Last trends", c'est un ::after donc ça pose pas
problème. */

.titleTrends::after{
    content: "";
    width: 73%;
    background-color: white;
    height: 2.2px;

    position: absolute;
    right: -15%;
    bottom: 35%;
}

.containerLT{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width:50vw;
    min-width: 85vmin;
    /* border: springgreen solid; */
}

.linkContainerTrend{
    /* border: red solid; */
    display: block;
    height: auto;
    width: 90%;
    height: 25%;
}

.linkContainerTrend:hover > .contentTrend{
    transform: translateY(-5px);
    box-shadow: 2px 2px 2px white;
    transition: all .5s ease-in-out;
    
}

.more{
    display: inline-block;
    font-family: "Overpass";
    font-size: 0.8125rem;
    text-decoration: underline;
    color: #B6B6B6;
}

.more:hover{
    color: #F39000;
    transition: all .3s ease-in-out;
}

.contentTrend{
    width: 100%;
    height: 100%;
    background-color: #242424;
    border-radius: 24px;
    box-shadow: 2px 2px 2px rgba(240, 0, 0, 0.25);
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
    /* border: steelblue solid; */
}

.imgTrend{
    width: 35%;
    height: 80%;
    border-radius: 15px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgTrend > img{
    width: 100%;
}

.textsTrend{
    width: 60%;
    height: 95%;
    font-family: "Overpass";
    /* border: tan solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#hashtag{
    font-size: 4.375rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #F00000;
}

.textsTrend > h1{
    margin: 0;
    font-size: 1.75rem;
    color: white;
    font-weight: bold;
    line-height: 35px;
    /* border: blue solid; */
}

.description{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    font-family: "Montserrat";
    color: white;
    padding-left: 22px;
    padding-top: -15px;
    word-wrap: break-word;
    /* border: gold solid; */
}

.date{
    color: #B6B6B6;
    font-family: "Overpass";
    font-weight: 300;
    font-size: .75rem;
    margin: 0;
    padding-top: 8px;
    padding-left: 10px;
    /* border: rgb(48, 171, 187) solid; */
}


/* Archives */

.hello{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    font-family: "Overpass";
    word-wrap: break-word;
}



/* Span title */

#T{
    color: #F39200;
}

#d{
    color: #FF0000;
}



/* Media Queries */


@media screen and (max-width: 1635px) {
    .textsTrend > h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1435px) {
    main{
        display: grid;
        grid-template: 
        "titleTrends hello" 10vh
        "trends hello" 1fr/ 1fr 1fr;
        height: auto;
    }
}

@media screen and (max-width: 1300px) {
    .hello{
        font-size: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    main{
        display: grid;
        grid-template: 
        "titleTrends" 1fr
        "trends" 1fr;
        max-height: 100vh;
    }
    .titleTrends{
        justify-self: center;
        align-self: baseline;
    }
    .lasTrends{
        justify-self: center;
    }
    .containerLT{
        height: 100vh;
    }
    .linkContainerTrend{
        height: 20%;
    }
    .titleTrends{
        font-size: 2rem;
    }
    .textsTrend > h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .description{
        display: none;
    }
    .containerHello{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .textsTrend > h1{
        font-size: 1rem;
        line-height: 1.1rem;
    }
    .word{
        letter-spacing: 5px;
        font-size: 3rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}