body{
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}

h1{
    font-family: 'Overpass';
    color:white
}

a{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 2%;
    transition: color .6s ease-in-out;
}

a:hover{
    color: #F00000;
}