/* Général */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black !important  ;
    height: 100vh;
    display: grid;
    grid-template: 
    "part1" 1fr
    "part2" 3fr;
    /* border: #F00000 solid; */
}

.accordion{
    border: solid red;
}