/* Général */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black !important  ;
    height: 100vh;
    display: grid;
    grid-template: 
    "part1" 1fr
    "part2" 3fr;
    /* border: #F00000 solid; */
}

ol{
    border: red solid;
    width: 70%;
}

li{
    width: 100%;
}

/* Partie 1 */

.part1{
    grid-area: part1;
    /* border: blue solid; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part1 > h1{
    font-family: "Overpass";
    font-size: 4.6875rem;
    font-weight: bold;
    color: white;
}

.searchArchive{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: #F39000 solid; */
}

#search{
    width: 315px;
    height: 40px;
    border: 2px #FFFFFF solid;
    border-radius: 24px;
    background-color: transparent;
    background-image: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;

    color: #FFFFFF;
    font-family: "Overpass";
    font-size: 1rem;
    padding-left: 35px;
}

.top{
    align-self: flex-start;
    margin-top: 2%;
}

#search:focus{
    outline: none;
    border-color: #FF0000;
    transition: all .5s ease-in-out;
}

#search::placeholder{
    font-family: "Overpass";
    font-size: 1.25rem;
    font-weight: 300;
    color: #FFFFFF;
    opacity: .8;
}




/* Partie 2 */

.part2{
    grid-area: part2;
    border: springgreen solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    /* height: 70vh; */

}





/* Media Queries */

@media screen and (max-width: 750px) {
    .BGnop{
        height: 27%;
    }

    .part1 > h1{
        font-size: 4rem;
    }

    #search{
        width: 280px;
        height: 35px;
        font-size: 1rem;
    }

    .BTNdate{
        padding: 8px;
    }
    
    .BTNdate > p{
        font-size: 1.2rem;
        padding-left: 6px;
        padding-top: 3px;
    }
    
    .miniModal{
        border-radius: 0px 0px 15px 15px;
        padding: 8px;
    }

    #search::placeholder{
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    #search{
        width: 220px;
        height: 35px;
        font-size: 1rem;
    }

    .filterDate{
        margin-left: 5px;
    }

}