/* Général */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

::selection{
    background-color: #F39200;
    color: black;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 1%;
    left: 1.5%;
}

.back > p{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.05rem;
    padding-left: 10px;
}



/* Trend */

.containerTrend{
    background-color: #111111;
    width: 70%;
    height: auto;
    margin-top: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.containerTrend > div{
    width: 90%;
}

.infos{
    margin-top: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hashtag{
    font-family: "Overpass";
    font-size: 4.375rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #F00000;
    margin-right: 13px;
}

.titre{
    display: flex;
    align-items: center;
}

.titre > h1{
    font-family: "Overpass";
    margin: 0;
    font-size: 2.1875rem;
    color: white;
    font-weight: bold;
}

.proprio{
    display: flex;
    align-items: center;
}

.proprio > p{
    font-family: "Overpass";
    margin: 0;
    font-size: 2.1875rem;
    color: white;
    font-weight: bold;
}

.pp{
    width: 65px;
    height: 65px;
    border-radius: 65px;
    background-color: red;
    margin-left: 15px;
}

.imgtrend2{
    height: 50vh;
    border-radius: 15px;
    overflow-y: hidden;
    box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.25);
}

.imgtrend2 >img{
    width: 100%;
}

.texTrend{
    background-color: #242424;
    border-radius: 24px;
    font-family: "Overpass";
    margin-top: 30px;
}

.texTrend > .texts{
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.date{
    color: #B6B6B6;
    font-family: "Overpass";
    font-weight: 100;
    font-size: .9rem;
    padding-top: 8px;
    padding-right: 15px;
    float: right;
}

.utilities{
    margin-top: 6%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.SHcomments{
    width: 210px;
    height: 45px;
    background-color: #242424;
    box-shadow: 2px 2px 5px rgba(240, 0, 0, 0.65);
    border-radius: 12px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
    transition: all .6s ease-in-out;
}

.SHcomments:hover, .putComment:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.65);
}

.SHcomments > p{
    font-family: "Overpass";
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.putComment{
    width: 70px;
    height: 45px;
    background-color: #242424;
    box-shadow: 2px 2px 5px rgba(240, 0, 0, 0.65);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all .6s ease-in-out;
}

.putComment > p{
    font-family: "Overpass";
    font-size: 1.8rem;
    font-weight: normal;
    color: white;
    padding-left: 5px;
}


/* Comments area */

.containerComments{
    background-color: #111111;
    width: 70%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    display: none;
}

.show{
    display: flex;
}

.userComment, .userComment2{
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

#hashtag2{
    font-family: "Overpass";
    font-size: 4.375rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #F39200;
    
    position: absolute;
    top: 2%;
    left: -8%;
}

.User{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.ppUser{
    width: 38px;
    height: 38px;
    border-radius: 38px;
    background-color: #F39000;
}

.pp2{
    background-color: #05BC7A;
}

.pseudoUser{
    font-family: "Overpass";
    font-weight: bold;
    font-size: 1.7rem;
    color: #ffffff;
    margin: 0;
    padding-left: 10px;
}

.comment{
    width: 100%;
    border: solid 1px #ffffff;
    border-radius: 24px;
    padding: 20px;
    margin: 0;
    margin-top: 1%;
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff;
}

.dateUser{
    font-size: .9rem;
    font-family: "Overpass";
    font-weight: normal;
    color: #B6B6B6;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 3%;
    margin-top: 1%;
}



/* Modal ajout commentaire */

.BGmodal{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 997;
    width: 100vw;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.75);
    visibility: hidden;
    transition: visibility .3s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
    visibility: visible;
}

.croix{
    height: 78px;
    width: 78px;
    border-radius: 78px;
    background-color: #000000;
    margin-bottom: 1%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.modal{
    width: 70%;
    height: 50%;
    background-color: #111111;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.userModal{
    width: 40%;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 6%;
}

.ppModal{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #834ADF;
}

.pseudoModal{
    margin: 0;
    margin-left: 2%;
    padding: 0;
    padding-top: 5px;
    font-family: "Overpass";
    font-weight: bold;
    color: white;
    font-size: 1.6rem;
}

textarea{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    width: 80%;
    height: 40%;
    font-family: "Montserrat";
    color: white;
    font-size: 1rem;
    padding-left: 15px;
    padding-top: 10px;
}

textarea:focus{
    outline: none !important;
    border-color: #F00000;
    transition: all .6s ease-in-out;
}

.BTNpost{
    width: 120px;
    height: 45px;
    background-color: #242424;
    box-shadow: 2px 2px 5px rgba(240, 0, 0, 0.65);
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: "Overpass";
    font-weight: bold;
    margin-right: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;

    cursor: pointer;
    transition: all .6s ease-in-out;
}

.BTNpost:hover{
    transform: translateY(-5px);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.65);
}





/* Media Queries */

@media screen and (max-width: 1400px) {
    .imgtrend2{
        height: 35vh;
    }

    #hashtag{
        font-size: 4.1rem;
        margin-right: 11px;
    }

    .titre > h1{
        font-size: 2rem;
    }

    .proprio > p{
        font-size: 2rem;
    }

    .pp{
        width: 60px;
        height: 60px;
        border-radius: 60px;
        margin-left: 13px;
    }

    #hashtag2{
        top: 2%;
        left: -10%;
    }
}

@media screen and (max-width: 1110px) {
    .texTrend > .texts{
        font-size: 1rem;
    }

    .date{
        font-size: .7rem;
    }
    .imgtrend2{
        height: 30vh;
    }

    #hashtag{
        font-size: 3.8rem;
        margin-right: 8px;
    }

    .titre > h1{
        font-size: 1.7rem;
    }

    .proprio > p{
        font-size: 1.7rem;
    }

    .pp{
        width: 55px;
        height: 55px;
        border-radius: 55px;
        margin-left: 10px;
    }

    .ppUser{
        width: 35px;
        height: 35px;
        border-radius: 35px;
    }
    
    .pseudoUser{
        font-size: 1.5rem;
        padding-left: 10px;
    }
    
    .comment{
        border-radius: 24px;
        padding: 20px;
        font-size: 1rem;
    }
    
    .dateUser{
        font-size: .8rem;
    }

    #hashtag2{
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 900px) {
    .back > svg{
        width: 10%;
    }
    
    .back > p{
        font-size: .8rem;
    }
    .texTrend > .texts{
        font-size: .8rem;
    }

    .date{
        font-size: .5rem;
    }

    #hashtag{
        font-size: 3.5rem;
        margin-right: 8px;
    }

    .titre > h1{
        font-size: 1.4rem;
    }

    .proprio > p{
        font-size: 1.4rem;
    }

    .pp{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-left: 10px;
    }

    .SHcomments{
        width: 180px;
        height: 35px;
        border-radius: 12px;
    }
    
    .SHcomments > p{
        font-size: 1rem;
    }
    
    .putComment{
        width: 60px;
        height: 35px;
        border-radius: 12px;
    }

    .putComment > svg{
        width: 20px;
    }
    
    .putComment > p{
        font-size: 1.6rem;
    }

    .ppUser{
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }
    
    .pseudoUser{
        font-size: 1.3rem;
        padding-left: 10px;
    }
    
    .comment{
        border-radius: 24px;
        padding: 20px;
        font-size: .8rem;
    }
    
    .dateUser{
        font-size: .6rem;
    }

    #hashtag{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 770px) {
    #hashtag2{
        font-size: 3.2rem;
        top: 2%;
        left: -13%;
    }
}

@media screen and (max-width: 700px) {
    #hashtag{
        font-size: 3rem;
        margin-right: 8px;
    }

    .titre > h1{
        font-size: 1rem;
    }

    .proprio > p{
        font-size: 1rem;
    }

    .pp{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 590px) {
    .imgtrend2{
        height: 20vh;
    }

    .SHcomments{
        width: 155px;
        height: 30px;
        border-radius: 10px;
    }
    
    .SHcomments > p{
        font-size: .9rem;
    }

    .svg > svg{
        width: 80%;
    }
    
    .putComment{
        width: 45px;
        height: 30px;
        border-radius: 10px;
    }
    
    .putComment > p{
        font-size: 1.2rem;
    }

    .putComment > svg{
        width: 30%;
    }
}

@media screen and (max-width: 520px) {
    .proprio{
        flex-direction: column-reverse;
        position: absolute;
        top: -15%;
        left: 28.5%;
    }

    .containerTrend{
        margin-top: 15vh;
        position: relative;
    }

    .proprio > p{
        font-size: 1.4rem;
    }

    .pp{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-bottom: 5px;
    }

    .ppUser{
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }
    
    .pseudoUser{
        font-size: 1.3rem;
        padding-left: 5px;
    }
    
    .comment{
        border-radius: 24px;
        padding: 20px;
        font-size: .6rem;
    }
    
    .dateUser{
        font-size: .5rem;
    }

    .containerComments{
        margin-top: 3vh;
    }

    #hashtag2{
        font-size: 3.2rem;
        top: 2%;
        left: -16%;
    }
}

@media screen and (max-width: 420px) {
    .back{
        bottom: 2%;
        left: 4%;
    }

    .back > p{
        display: none;
    }

    .back > svg{
        width: 100%;
    }

    .texTrend > .texts{
        font-size: .6rem;
    }

    .date{
        font-size: .3rem;
    }

    .containerTrend{
        margin-top: 12vh;
    }

    .imgtrend2{
        height: 25vh;
    }

    .proprio{
        top: -15%;
        left: 25%;
    }

    #hashtag2{
        font-size: 3rem;
        top: 2%;
        left: -18%;
    }
}

@media screen and (max-width: 340px){
    .proprio{
        top: -13%;
        left: 22%;
    }

    .containerTrend{
        margin-top: 12vh;
        position: relative;
    }

    .proprio > p{
        font-size: 1.2rem;
    }

    .pp{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-bottom: 5px;
    }

    .SHcomments{
        width: 30px;
        height: 30px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .SHcomments > p{
        display: none;
    }

    .svg > svg{
        width: 85%;
        margin-left: 1.5px;
        margin-top: 4px;
    }
    
    .putComment{
        width: 35px;
        height: 30px;
        border-radius: 10px;
    }
    
    .putComment > p{
        display: none;
    }

    .putComment > svg{
        width: 40%;
    }

    #hashtag2{
        font-size: 2.8rem;
        top: 2%;
        left: -20%;
    }

    .comment{
        border-radius: 24px;
        padding: 15px;
        font-size: .5rem;
    }

    .ppUser{
        width: 25px;
        height: 25px;
        border-radius: 25px;
    }
    
    .pseudoUser{
        font-size: 1rem;
        padding-left: 4px;
    }
    
    .dateUser{
        font-size: .4rem;
    }

}