.content{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    justify-self: center;
    align-self: center;

}
body{
    background-color: black;
    display: grid;
    
}
h1{
    font-family: 'Overpass', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color:white;
    border: white solid 1px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s ease;
}
a:hover{
    background-color: white;
    color: black;
}
p{
    font-family: 'Montserrat', sans-serif;
}
