body{
    display: grid;
    background-color: black;
    grid-template: 
    "form"1fr
    "sub"0.20fr
    ;
    height: 100vh;
    overflow-y: hidden;
    
}

form{
    justify-self: center;
    align-self: center;
    background-color:#111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    min-width: 250px;
    height: 50vh;
    border-radius: 20px;
    padding: 5vh 2vw 5vh 2vw;
}
input{
    outline: none;
    background-color:#222222;
    border: none;
    color:white;
    border-radius: 10px;
    width: 80%;
    height: 10%;
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Montserrat';
    
}
img{
    width: 10%;
    margin-bottom: -2%;
}
.subButton{
    background-color: rgba(99, 99, 99, 0.2);
    color: white;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    justify-self: center;
    align-self: start;
    cursor: not-allowed;
    grid-area: sub;
}
.message{
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin: 1% 0 1% 0;
    font-size: 0.8rem;
   

}
@media (max-width:500px) {
    form{
        width: 50vw;
    }
    input{
        margin-bottom: 10%;
    }
    img{
        width: 15%;
    }
    input{
        height: 15%;
    }
}

