body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}
main{
    background-color:#111111;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    min-width: 70vmin;
    min-height: 60vmin;
    border-radius: 20px;
    padding: 5vh 2vw 5vh 2vw;
    grid-area: main;
    color: white;
}
h1{
    font-family: 'Overpass', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
div{
    font-size: 5rem;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: white solid 1px;
    padding: 10px;
    border-radius: 15px;
    width: 10%;
    display: inline-block;
    transition: 0.8s ease;
    margin: auto;
}
a:hover{
    background-color: white;
    color:black;
}