/* Général */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #000;
    background-attachment: fixed;
}

::selection{
    background-color: #F39200;
    color: #000;
}

a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

#T{
    color: #F39000;
}

#d{
    color: #FF0000;
}


/* ScrollBar */

::-webkit-scrollbar {
    width: 11px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #F39000 14%, #FF0000 64%);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 15px;
}


/* Content Head */

.content_head{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    
}

.logoProvisoire{
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 44px;

    position: fixed;
    top: 1%;
    left: 1.5%;
}

.connect{
    font-family: "Overpass";
    color: black;
    margin-right: 3%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: all .6s ease-in-out;
}

.connect:hover{
    color: white;
    background-color: #242424;
    box-shadow: 1px 1px 1px rgba(240, 0, 0, 0.25);
}




/* Burger */

.burger{
    width: 500px;
    height: 100vh;
    background-color: #242424;

    position: fixed;
    right: -500px;
    top: 0;
    z-index: 998;

    transition: all .6s ease-in-out;
}

.show{
    right: 0;
}

.burgerBG{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 997;
    width: 100vw;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.75);
    visibility: hidden;
    transition: visibility .3s ease-in-out;
}

.display{
    visibility: visible;
}

.containerTitles{
    position: absolute;
    margin-top: 150px;
    margin-left: 85px;
}

.containerTitles > a{
    font-family: "Overpass";
    font-size: 2.375rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 2px rgba(243, 146, 0, 0.5);
}

.containerTitles > a:hover{
    font-style: italic;
    color: #ec9c22;
    text-shadow: 5px 2px 5px #f3920080;
    transition: all .3s ease-in-out;
}

.archives{
    margin-top: 50px;
    margin-bottom: 50px;
}

.rondBurger{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin-right: 2%;
}

.rondBurger:hover{
    box-shadow: 2px 2px 2px rgba(240, 0, 0, 0.5);
    transition: all .15s ease-in-out;
}

.pseudo{
    color: white;
    margin-right: 10px;
    font-family: "Overpass";
}

.logOut{
    color: red;
    font-family: "Overpass";
    font-size: 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.explain{
    text-decoration: underline;
    font-family: "Overpass";
    font-size: .9rem;
    font-weight: 700;
    font-style: italic;

    position: absolute;
    bottom: 10px;
    right: 20px;
}

.explain:hover{
    color: #F39200;
    transition: color .3s ease-in-out;
}


/* Media Queries */

@media screen and (max-width: 1000px) {
    .burger{
        width: 400px;
        height: 100vh;
        right: -400px;
    }

    .show{
        right: 0;
    }

    .containerTitles{
        margin-top: 150px;
        margin-left: 65px;
    }

    .containerTitles > a{
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .burger{
        width: 300px;
        height: 100vh;
        right: -300px;
    }

    .show{
        right: 0;
    }

    .containerTitles{
        margin-top: 150px;
        margin-left: 55px;
    }

    .containerTitles > a{
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 380px) {
    .logoProvisoire{
        top: -2%;
        left: 3%;
        font-size: 1.4rem;
    }

    .rondBurger{
        width: 35px;
        height: 35px;
        border-radius: 35px;
        margin-right: 2%;
    }

    .pseudo{
        margin-right: 5px;
        font-size: 1rem;
    }

    .burger{
        width: 100vw;
        height: 100vh;
        right: 0;
        top: -100vh;

        transition: all .8s ease-in-out;
    }

    .show{
        top: 0;
    }

    .containerTitles{
        margin-top: 150px;
        margin-left: 55px;
    }

    .containerTitles > a{
        font-size: 1.7rem;
    }
}